/***This is a To Do List project developed for a curricular component Information Systems 1, Computer Science, UFCG.***/
/*** Built by Priscilla de Sales Brito | 2016 ***/

body {
	background: #FFFFFF;
	position: relative;
	top: 50px;
	left: 50px;
	width: 100px;
	height: 80px;
	border-radius: 3px;
	text-indent: 20px;
	color: #888;
	font-weight: normal;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 70px;
	text-align: center;
	word-spacing: 5px;
	letter-spacing: 4px;
	position: fixed;
	top: calc( 50% - 280px );
	left: calc( 50% - 240px );
}

h2{
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-size: 18px;
	text-align: center;
	word-spacing: 5px;
	letter-spacing: 4px;
	position: fixed;
	top: calc( 50% - 180px );
	left: calc( 50% - 330px );
}

/*****
TASKS.
*****/
.tasks-quantity {
	color: #E91E63;
	font-style: bolder;
}

.tasks-todo {
	color: #424242;
	font-family: 'Gloria Hallelujah', cursive !important;
	font-size: 22px;
}

.tasks-done {
	color: #F8BBD0;
	font-family: 'Gloria Hallelujah', cursive !important;
	font-size: 22px;
	text-decoration: line-through;
}


/*****
LISTS BOXES.
*****/
.list-todo {
	position: fixed;
	top: calc( 50% - 120px );
	left: calc( 50% - 460px );
	width: 550px;
	height: 300px;
	list-style: none;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	overflow-y: auto;
	-user-select: none;
	-webkit-user-select: none;
}

.list-done {
	position: fixed;
	top: calc( 50% - 120px );
	right: calc( 50% - 460px );
	width: 350px;
	height: 300px;
	list-style: none;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	overflow-y: auto;
	-user-select: none;
	-webkit-user-select: none;
}

::-webkit-scrollbar {
	min-width: 16px;
	width: 16px;
	max-width: 16px;
    min-height: 16px;
	height: 16px;
	max-height: 16px;
	background-color: #fff;
	border-radius: 3px;
}
::-webkit-scrollbar-thumb {
	background: #dcdcdc;
    border: solid 5px #fff;
    border-radius: 16px;
    box-shadow: inset 0 0 8px rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
}
::-webkit-scrollbar-thumb:active {
    background: #c4c4c4;
}
::-webkit-scrollbar-button {
	display: none;
    height: 0px;
}
::-webkit-resizer, ::-webkit-scrollbar-corner {
    background: #fafafa;
}

.demo-list-item {
	width: 530px;
}

.demo-list-item-done{
	width: 350px;
}


/*****
INPUT. 
*****/
.mdl-textfield__input { /* From materials.*/
   font-family: 'Gloria Hallelujah', cursive;
   font-size: 22px;
   font-style: bolder;
   color: #C2185B; 
   text-align: center;
   word-spacing: 5px;
   letter-spacing: 4px;
 }
 
 .mdl-textfield__label { /* From materials.*/
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	word-spacing: 2px;	
    letter-spacing: 3px;
	color: #757575;
 }

.label-position-input {
	position: fixed;
	top: 530px;
	left: calc( 50% - 230px );
}

.mdl-button { /* From materials.*/
	position: fixed;
	top: 540px;
	left: 790px;
}

.error-alert-input {
	color: #E91E63;
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-size: 10px;
	font-weight: bolder;
	text-align: center;
	word-spacing: 5px;
	letter-spacing: 4px;
	position: fixed;
	top: 590px;
	left: calc( 50% - 230px );
}

/*****
MENU. 
*****/
.mdl-button--icon {
	position: fixed;
	top: 10px;
	left: 10px;
}

.mdl-menu__item {
	color: #C2185B;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	font-weight: bolder;
	word-spacing: 5px;
	letter-spacing: 4px;
}

/*****
ICONS. 
*****/
.material-icons.trashcan { color: #E0E0E0; }
.material-icons.checkedcircle { color: #F48FB1; }
.material-icons.undone { color: #757575; }